<div class="auth-container">
  <div class="tabs">
    <button (click)="activeLogin=true" [class.active]="activeLogin" >Iniciar Sesión</button>
    <button (click)="activeLogin=false" [class.active]="!activeLogin">Registrarse</button>
  </div>

  <!-- LOGIN -->
@if(activeLogin){
  <form [formGroup]="loginForm"(ngSubmit)="onLogin()"> <!--ngSubmit se dispara la funcion que cree en el ts para el login-->
    <h2>Iniciar Sesión</h2>
    <div class="form-group">
      <label for="emailLogin">Correo electrónico</label>
      <input type="email" id="emailLogin" formControlName="email" placeholder="ejemplo@correo.com"  />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <small class="error">Por favor, ingresa un correo electrónico válido.</small>
      }
    </div>

    <div class="form-group">
      <label for="passwordLogin">Contraseña</label>
      <input type="password" id="passwordLogin" placeholder="********"  />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <small class="error">La contraseña debe tener al menos 8 caracteres.</small>
      }
    </div>

    <button type="submit" class="btn btn-login"[disabled]="loginForm.invalid">Ingresar</button>
    <div class="toggle">
        ¿No tienes una cuenta? <a (click)="activeLogin=!activeLogin">Registrarse</a>.
    </div>
  </form>
}
  <!-- REGISTRO -->

 @if(!activeLogin){
  <form [formGroup]="registroForm"(ngSubmit)="onRegistro()"><!--ng Submit se dispara la funcion que cree en el ts para el registro-->
    <h2>Registro</h2>
    <div class="form-group">
      <label for="name">Nombre completo</label>
      <input type="text" id="name" formControlName="name" placeholder=" nombre completo" />
         @if (registroForm.get('name')?.invalid && registroForm.get('name')?.touched) {
          <small class="error">Por favor, ingresa tu nombre completo.</small>
        }
    </div>

    <div class="form-group">
      <label for="emailRegistro">Correo electrónico</label>
      <input type="email" id="emailRegistro" formControlName="email" placeholder="ejemplo@correo.com"  />
      @if (registroForm.get('email')?.invalid && registroForm.get('email')?.touched) {
        <small class="error">Por favor, ingresa un correo electrónico válido.</small>
      }
    </div>

    <div class="form-group">
      <label for="passwordRegistro">Contraseña</label>
      <input type="password" id="passwordRegistro" formControlName="password" placeholder="********"  />
      @if (registroForm.get('password')?.invalid && registroForm.get('password')?.touched) {
        <small class="error">La contraseña debe tener al menos 8 caracteres.</small>
      }
    </div>

    <button type="submit" class="btn btn-registro"[disabled]="registroForm.invalid">Registrarse</button><!--disabled deshabilita el boton para enviar formulario-->
    <div class="toggle">
        ¿Ya tienes una cuenta? <a (click)="activeLogin=!activeLogin">Iniciar Sesión</a>.
    </div>
      
  </form>

} 
</div>

